{% extends 'admin/admin.html.twig' %}

{% block title %}Nouveau utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouveau utilisateur</h1>

    <div class="form-SAMM">
        <a class="btn btn-outline-info " href="javascript:history.back()">Retour</a>
        {{form(form)}}
    </div>

    <a class="btn btn-outline-info" href="javascript:history.back()">Retour</a>

{% endblock %}
