{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

<h1>Créer un compte</h1>

<form class="form-SAMM">{{ form(registrationForm) }}</form>
   
{% endblock %}
