{% extends 'base.html.twig' %}

{% block title %}nouveau conseil{% endblock %}

{% block body %}
    <h1>Créer un nouveau conseil</h1>

    <form class="form-SAMM">
        <div class="d-flex mb-2">
            <a class="btn btn-outline-info me-2" href="javascript:history.back()">Retour</a>
        </div>  
        {{form(form)}}
    </form>

{% endblock %}
